---
import { twMerge } from 'tailwind-merge';

export type Props = {
	className?: string;
};

const { className } = Astro.props;
---

<div class={twMerge('max-w-4xl mx-auto', className)}>
	<slot />
</div>
