---
import Layout from '@/components/layouts/Layout.astro';
import { Headings } from '@/components/headings';
import { getComponentsWithMaxHeading } from '@/components/mdx/components.astro';

import Guides from '@/page-components/index/components/guides/index.mdx';
import OpenSourcePackages from '@/page-components/index/components/open-source-packages/index.astro';

// const blips = await getAllRadarBlips();
---

<Layout
	title="Principle Studios Tools"
	ogDescription="A set of resources by and for Principle Studios team members"
>
	<Headings.h1>Principle Studios Tools</Headings.h1>
	<p>A set of resources by and for Principle Studios team members</p>

	<Guides components={getComponentsWithMaxHeading(2)} />
	<OpenSourcePackages />
	<!-- <TechnologyRadar blips={blips} /> -->
</Layout>
