---
export type Props = {
	className?: string;
};
import { twMerge } from 'tailwind-merge';
import Spaced from '../spaced/Spaced.astro';
import { Logo } from '../logo/Logo';
import { PullRequestToast } from '../pull-request-toast';

const prId = import.meta.env.PR_ID;

const { className } = Astro.props;
---

<header class={twMerge('fixed top-0 w-full z-10', className)}>
	<Spaced className="flex justify-between">
		<div class="flex">
			<a
				href="/"
				class="block justify-self-end bg-black text-white dark:bg-white dark:text-black"
			>
				<Logo className="h-20" height="5rem" title="Principle Tools Home" />
			</a>

			<nav class="flex justify-between items-center ml-3">
				{/* <span className="px-6">Home</span> */}
			</nav>
		</div>

		{isNaN(prId) || !prId ? null : <PullRequestToast prId={prId} />}
	</Spaced>
</header>
<div class="h-20"></div>
